<div class="row">
    <div class="col-md-4 d-flex justify-content-center">
        <img class="img_logo" src="/images/logos/logo.svg" alt="Logo">
    </div>
    <div class="col-md-8 textinho">
        <h2>Bem vindo, Visitante! <i class="bi bi-cup-hot-fill"></i></h2>
        <hr>
        <p> A culinária vai além de preparar alimentos, é uma arte que conecta pessoas 
            e cria memórias inesquecíveis. <b>Cada receita é uma oportunidade de compartilhar sabores, 
            tradições e criar experiências que permanecem para sempre no coração.</b>
        </p>
        <p>E o <b>{{title}}</b> tem a felicidade de ser parte disso!</p>

        <p>Este site foi desenvolvido como parte ds disciplina de Desenvolvimento Web II, 
            do curso de Sistremas de Informação, pelo <abbr title="Instituto Federal do Sudeste de Minas Gerais">IFSEMG </abbr>- Campus Manhuaçu, 
            pelo aluno Miguel Souza Portes.</p>
    </div>
</div>
