<div class="row">
  <div class="col-12!">
    <form class='pesquisar-explorar'>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Pesquise por uma receita"
          aria-label="Pesquise por uma receita" aria-describedby="button-addon2">
        <button class="btn" type="button" id="button-addon2"><i class="bi bi-search-heart-fill"></i></button>
      </div>
    </form>
  </div>
</div>

<div class="row conteudos">
  <div class="col-12"><h2>Explorar Receitas:</h2></div>

  {{#each receitasApi}}
     <div class="col-md-3 col-12 d-flex justify-content-center">
      <a href="">
      <div class="card card-receitas">
        <img src='{{this.link_imagem}}' class="card-img-top img" alt="Img">
        <div class="card-body">
          <h5 class="card-title">{{this.receita}}</h5>
        </div>
      </div>
      </a>
    </div>
  {{/each}}

  {{#each minhasReceitas}}
     <div class="col-md-3 col-12 d-flex justify-content-center">
      <a href="">
      <div class="card card-receitas">
        <img src='{{this.link_imagem}}' class="card-img-top img" alt="Img">
        <div class="card-body">
          <h5 class="card-title">{{this.receita}}</h5>
        </div>
      </div>
      </a>
    </div>
  {{/each}}

</div>