<div class="row conteudos usuario-secao">
    <div class="col-12 col-md-5">
        <img width="150px" src="/images/logos/usuario.png" alt="Usuário">
    </div>
    <div class="col-12 col-md-7">
        <h2>Olá, visitante!</h2>
        <p>Veja suas receitas, edite e insira novas receitas nesta página!</p>
    </div>
</div>

<div class="row conteudos ">
    <div class="col-12"><h2>Suas receitas: </h2></div>
    
 <div class="col-md-3 col-12 d-flex justify-content-center">
      <a href="">
      <div class="card">
        <img src="{{url_imagem}}" class="card-img-top" alt="Img">
        <div class="card-body">
          <h5 class="card-title">{{titulo_receita}}</h5>
        </div>
      </div>
      </a>
    </div>

</div>