@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=DM+Sans:opsz,wght@9..40,500&family=Tangerine:wght@700&display=swap');
:root{
    --vermelho_principal: #b4393d;
    --verde_principal: #6da58c;
    --cor_texto: bisque;

    --fundo_madeira: url('/images/fundos/fundo_madeira.png');
    --fundo_xadrez: url('/images/fundos/fundo_xadrez.svg');

    --fonte_principal: "Dm Sans", Helvetica, sans-serif;
    --fonte_secundaria: "Berkshire Swash", Arial;
}
a{
    text-decoration: none;
}
body{
    background-image: var(--fundo_madeira);
    background-position: calc();
    background-repeat: repeat-y;
    background-size: cover;
    font-family: var(--fonte_principal);
}
nav, footer{
    background-color: var(--vermelho_principal);
}
.nav-link, .navbar-text{
    color:var(--cor_texto);
    font-size: 18px;

    &:hover{
        font-size: 20px;
        color:beige;
    }
}
.navbar-brand, .footer-brand{
    color:var(--cor_texto);
    font-family: var(--fonte_secundaria);
    font-size: 25px;
    font-weight: 700;

    &:hover{
        color:var(--verde_principal);
    }
}
.footer-text{
    color:var(--cor_texto)
}
.conteudos{
    padding:30px;
    margin: 15px 0px ;
    background-image: var(--fundo_xadrez);

    color: black;
    text-shadow: 1px 1px 3px var(--cor_texto);
    box-shadow: rgba(0, 0, 0, 0.444) 0px 3px 8px;

    border-radius: 15px;
}
.b1-index{
    text-align: center;
    background-image: none;
}
.b1-index h4{
    font-family: "Tangerine";
    font-size: 35px;
    font-weight: 1200;
}
.b1-index h5{
    margin-top: 15px;
    color:var(--vermelho_principal)
}
.b1-index form button, .pesquisar-explorar button{
    background-color: var(--vermelho_principal);
    border-color: var(--vermelho_principal);

    &:hover{
        background-color: var(--verde_principal);
    }
}
.card{
    background-color: var(--vermelho_principal);
    color:var(--cor_texto);
    border-style: none;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &:hover{
        box-shadow: rgba(255, 228, 196, 0.90) 0px 22px 70px 4px;
    }
}
.card img{
    max-width: 100%;
    max-height: 100%;
}
.card-receitas {
    height: 200px;
    width: 230px; 
  }
  
  .card-receitas img {
    width: 100%;        
    height: 200px;      
    object-fit: cover;  
    overflow: hidden;  
  }

.pesquisar-explorar{
    margin-top: 30px
}
.b-usuario{
    background-image: none;
}
.b-user-texto{
    margin: auto;
}
.b-user-texto .btn{
    background-color: var(--vermelho_principal);
    color:var(--cor_texto);
    border-width: 2px;
}

.form-receitas{
    padding: 15px;
    margin: 15px 0px;
    background-image: var(--fundo_xadrez);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-receitas label{
    font-family: var(--fonte_secundaria);
    font-size: 20px;
    text-shadow:  1px 1px 3px var(--cor_texto);
}
.form-receitas input, .form-receitas textarea{
    border-style: none;
    border-radius: 15px;

    background-color: beige;
    resize: none;
}
.bt-cancelar{
    background-color: var(--verde_principal);
&:hover{
    background-color: var(--cor_texto);
}
}
.bt-adc-ins{
    background-color: var(--vermelho_principal);
&:hover{
    background-color: var(--cor_texto);
}
}

.form-receitas p{
    margin-top: 10px;
    text-align: center;
}