@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Poppins&family=Norican&display=swap');

:root{
    --fundo_xadrez: url("/images/fundos/fundo_xadrez.svg");
    --fundo_madeira: url("/images/fundos/madeira_fundo.jpg");
    --fundo: rgba(250, 235, 215, 0.507);
    --tom_vermelho_1: #4d1614;
    --tom_vermelho_2: #b4393d;
    --fonte_principal: "Poppins", Helvetica;
    --fonte_escrita: "Norican", Cursive;
}
a{
    color: var(--tom_vermelho_1);
    text-decoration: none;
}
body{
    background-image: var(--fundo_xadrez);
    background-position:calc();
    background-repeat: repeat-y;
    background-size: cover;
    font-family: var(--fonte_principal);
}
.container{
    background-color: var(--fundo);
    backdrop-filter: blur(5px);
    border: white, 1px, solid;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.footer{
    position:absolute;
}
nav, .footer{
    background-image: var(--fundo_madeira)
}
.nav-link{
    color:rgb(244, 235, 223) !important;
    font-weight: 700;
}
.navbar-brand, .footer-brand{
    font-family: var(--fonte_escrita);
    font-weight: 700;
    font-size: 40px;
    color: var(--tom_vermelho_1);
}
.navbar-text, .footer-text{
    font-family: var(--fonte_escrita);
    font-weight: 700;
    font-size: 20px;
    color: var(--tom_vermelho_1);
}
.icone{
    color:var(--tom_vermelho_1);
    font-size: 20px;
}
.textinho{
    color:var(--tom_vermelho_1);
    font-size: 20px;
    font-family: var(--fonte_escrita);
    font-weight:470;
}
.imgs_carrossel{
    border-radius: 15px;
    width: 300px;
}
.b1{
    justify-content: center;
    margin: auto;
    padding: 10px;
}
.b1 button{
    border-color: var(--tom_vermelho_2);
    background-color: #b4393d;
}
.logo{
    width: 150px;
}
.outra_letra, abbr{
    font-family: var(--fonte_principal);
    text-decoration: none;
}
.textinho-2{
    margin-top: 10px;
    padding: 20px;
    color:var(--tom_vermelho_1);
    text-align: center;
    font-size: 15px;
    font-family: var(--fonte_principal);
    font-weight:470;
}
.redes{
    font-size: 30px;
}
.conteudos{
    margin: 15px;
    background-color: var(--tom_vermelho_2);
    border-radius: 10px;
    padding: 10px;
}
.conteudos h2{
    color:antiquewhite;
    font-size: 20px;
}
.card{
    margin:10px;
    height: 300px
}
.card-index{
    height: 200px;
    width: 150px;
}
.card-title{
    color: var(--tom_vermelho_2);
    font-weight: 600;
    font-size: calc();
}
.card-img-top:hover{
    box-shadow: var(--fundo) 0px 30px 90px 8px;
}
.explorar-pesquisa button{
    background-color: var(--tom_vermelho_2);
}
.usuario-secao *{
    margin: auto;
    color: antiquewhite;
    text-align: center;
}