<form class="row form-receitas">
    <label for="titulo">Nome de sua receita: </label>
    <input type="text" name="receita" id="titulo">

    <label for="categoria">Categoria</label>
    <input type="text" name="categoria" id="categoria">

    <label for="ing">Ingredientes</label>
    <textarea name="ingredientes" id="ing" rows="6" cols="10"></textarea>
    
    <label for="mp">Modo de preparo</label>
    <textarea name="modo_de_preparo" id="mp" rows="6" cols="10"></textarea>

    <button class="btn">Cancelar</button>
    <button class="btn">Adicionar</button>
</form>